certifi==2023.11.17
charset-normalizer==3.3.2
Cython==3.0.6
idna==3.6
importlib-metadata==7.0.0
importlib-resources==6.1.1
libpcap==1.11.0b7
netifaces==0.11.0
packaging==23.2
pkg-about==1.0.8
psutil==5.9.6
pyfiglet==1.0.2
python-libpcap==0.4.2
python3-nmap==1.6.0
requests==2.31.0
scapy==2.5.0
simplejson==3.19.2
sqlmap==1.7.12
tomli==2.0.1
typing_extensions==4.9.0
urllib3==2.1.0
zipp==3.17.0